@charset "utf-8";

/* main.css - 메인페이지 CSS */

/*파일 merging(합치기)*/
@import url(reset.css);
@import url(core.css);



/* common.css - 공통 레이아웃 디자인 */
body {
    overflow: auto;
    background: rgb(51, 51, 51);
}

.wrap_box {
    margin: 0 auto;
    max-width: 420px;
    overflow: hidden;
}

.wrap {
    background-color: #f1f2f3;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}


/******************************************헤더영역*****************************************/

/*헤더영역*/
.header {
    width: 100vw;
    max-width: 420px;
    position: fixed;
    z-index: 999;
}


.fixed {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

/* 뒤로가기 화살표 */
.home {
    padding: 0px 7px 0px 15px;
    width: 19px;
}

.header_txt {
    color: #555;
    font-size: 16px;
    letter-spacing: -.8px;
    font-weight: 600;
    display: contents;
}


/* view 이미지, 숫자 */
.view {
    position: absolute;
    top: 10px;
    right: 17px;
    padding-left: 20px;
    color: #999;
    font-size: 13px;
    line-height: 29px;
    letter-spacing: -.65px;
    background: url(../images/view.svg) no-repeat;
    background-position: 0 50%;
    background-size: 20px;
    max-width: 60px;
}



/******************************************컨텐츠영역*****************************************/
.content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eee;
    padding-top: 50px;
}

/*  카톡공유, 주소복사 */
.share {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.share_2 {
    height: 30px;
}

/* 상단 코멘트 갯수 버튼 */
.share .comment {
    background-image: url(../images/comment.svg);
    background-repeat: no-repeat;
    background-position: 8px 55%;
}

.share .comment.btn {
    padding-left: 25px;
}

/* 버튼공용 */
.share .btn {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #1c79bc;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.65px;
    border-radius: 3px;
}



/************************************** 게시글 시작 **************************************/
.article {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: 0 0 1px;
    margin-top: 10px;
}

/* article 영역 끝 간격 */
.article>div {
    margin-bottom: 70px;
}

.article>div:last-child {
    margin-bottom: 0;
}

/* 게시글 이미지 */
.article img {
    display: block;
    width: 100%;
}

/* cont_8 체크아이콘 이미지 */
body .check_img {
    width: 25px;
    height: 25px;
    padding-right: 8px;
    vertical-align: middle;
}


/* article_14 안먹은걸로 하는법 음식이미지 */
.means {
    margin: 5%;
    width: 90%;
}

.means_1 {
    float: left;
    width: 48%;
}

.means_2 {
    float: right;
    width: 48%;
}






/* 게시글 텍스트 */
.article h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    color: #2e2c2c;
}

.article p {
    padding: 10px 15px;
    text-align: center;
}

.check_txt {
    margin: 10px auto;
    width: 232px;
}

.check_box {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.check_box span {
    font-weight: bold;
    font-size: 18px;
}


.fz_20 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2e2c2c;
}
.fz_18 {
    font-weight: bold;
    font-size: 18px;
    color: #2e2c2c;
    display: inline-block;
}

.article_13 h2 {
    font-size: 30px;
    margin: 40px 0 20px 0;

}

body .article_14 h2 {
    font-size: 25px;
    margin-top: 20px;
}

.food_txt {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}



/* table */
.table_border {
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    /* 세번째줄 색상 */
    background-color: rgb(236, 236, 236);
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
}

/* 제목줄 */
th {
    font-weight: bold;
    color: #000;
    background-color: #ffce30;
    height: 40px;
}

.tabel_2 th {
    background-color: #f835c1;
    color: #fff;
}


/* 쿠폰가격 진하게 */
td:last-child{
    font-weight: bold;
    color: #000;
    position: relative;
}



/* th 테두리 둥글게 설정 */
th:first-child {
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

th,
td {
    border: 1px solid #fff;
}


tr {
    height: 32px;
}

.tr_border {
    background-color: rgb(250, 245, 250);
}

.tabel_2 {
    margin-top: 20px;
}







/* 안먹은걸로 구매하기 버튼 */
.link {
    position: relative;
    width: 250px;
    height: 50px;
    background-color: #ffce30;
    margin: 20px auto;
    border-radius: 5px;
}

.link a {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    display: block;
}

.link img {
    position: absolute;
    top: 25px;
    right: -5px;
    width: 25px;
}


/******************************************리뷰영역*****************************************/
.review_title {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 10px;
}

.review_wrap {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 15px 15px 35px;
}

.review_wrap.last{
    border: 0;
}

/* 리뷰 프로필영역(작성자,상품정보)*/
.profile {
    display: flex;
    padding-bottom: 10px;
}

.profile img {
    width: 40px;
    padding-right: 10px;
}

.profile ul li {
    font-weight: 500;
}

/* 리뷰 이미지 영역 */
.review_img img {
    width: 100%;
}

/* 리뷰 텍스트 영역 */
.review_wrap p {
    font-weight: 400;
}

/* 리뷰 더보기 */
.reviwr_more{
    height: 50px;
    background-color: #fff;
    text-align: center;
}
.reviwr_more a{
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
}
.reviwr_more img{
    width: 20px;
    padding-left: 5px;
  
}



/*****************************************TOP버튼*****************************************/
/*위로이동버튼*/
.tbtn_wrap {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 360px;
    max-width: 420px;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    cursor: pointer;
}

.tbtn {
    position: absolute;
    bottom: calc(76px);
    right: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: #fff;
}


.tbtn>img {
    width: 16px;
    height: 16px;

}


